.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../images/background.jpg');
  background-size: 100%;
  padding: 300px;
  p {
    color: white;
}
}
.container {
  img {
    max-width: 30%;
}
  text-align: center;
}

h1 {
  font-size: 60;
  color: white;
  text-align: center;
}

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}

h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}

#lol {
  height: 100;
  margin-top: 10;
  font-size: 25;
}

#btnn {
  font-size: 25;	
}

.container2 {
  margin-left: 500;
  flex: 0 0 20%;
}

#l1 {
  font-size: 20;
}

#l2 {
  font-size: 10;
}

#l3 {
  font-size: 20;
}

#l4 {
  font-size: 10;
}
.item1 {
  margin-right: 100;
}

.item2 {
	margin-right: 100;
}

.item3 {
	margin-right: 100;
}
.item4 {
	margin-right: 100;
}