<div class="col-md-12">
  <div class="wrapper-grey">
	<ul class='list-inline'>
	  <li>
	    <a href="http://twitter.com/lewagonparis">
	      <i class="fa fa-twitter fa-5x" id="ico"></i>
	    </a>
	  </li>
	  <li>
	    <a href="#">
	      <i class="fa fa-facebook fa-5x" id="ico"></i>
	    </a>
	  </li>
	    <li>
	      <a href="http://twitter.com/lewagonparis">
	        <i class="fa fa-github fa-5x" aria-hidden="true" id="ico"></i>
	      </a>
	    </li>
	    <li>
	  <a href="http://twitter.com/lewagonparis">
	<i class="fa fa-youtube fa-5x" aria-hidden="true" id="ico"></i>
	  </a>
	  </li>
	  </ul>
	  <p>This is a Airbnb Home challenge @ LeWagon</p>
	</div>
</div>