---
title: Le Wagon Middleman boilerplate
---
<div class="col-xs-12 banner">
  <div class="container">
	<div class="banner-content">
      <h1>WELCOME HOME !</h1>
		<p id="lol">Rent unique places to stay from local hosts in 190+ countries</p>
  	      <a class='btn btn-primary' id="btnn" href='#'>How it works</a>
	</div>
  </div>
</div>

  <div class="container">
    <div class="row">
	  <div class="col-xs-12 col-sm-3 item1">
		<img id="img1" src="images/globe.png">
		  <p id="l1">Discover the world</p>
			<p id="l2">The earth is your new home.</p>
		</div>
			<div class=" col-xs-12 col-sm-3 item2">
				<img id="img1" src="images/dollar.png">
					<p id="l1">Pay online</p>
					<p id="l2">No cash issues anymore.</p>
			</div>
					<div class=" col-xs-12 col-sm-3 item3">
						<img id="img1" src="images/beer.png">
							<p id="l1">Meet people</p>
								<p id="l2">Discover new culture and lifestyle.</p>
					</div>
							<div class=" col-xs-12 col-sm-3 item4">
								<img id="img1" src="images/heart.png">
									<p id="l1">Share and love</p>
									<p id="l2">Join a community you will love.</p>
							</div>
					</div>
 	</div>

<div class="row">
  <div class="clo-xs-12 col-sm-3 item0">
	<img src="images/anne.jpg" class="img-circle ite1">	 
  </div> 	
  <div class="clo-xs-12 col-sm-3 item10">
	<img src="images/seb.jpg" class="img-circle ite1">
  </div>
    <div class="clo-xs-12 col-sm-3 item20">
      <img src="images/romain.jpeg" class="img-circle ite1">
    </div>
</div>

  <div class="container3">
    <form action="#">
    <p id="l3">Get news from us</p>
    <p id="l4">Leave us your mail and get news from us</p>
    <div class="col-xs-6 col-md-6" id="ite22">
  <input type="password" class="form-control">
  <input type="submit" value="Subscribe" class="btn btn-primary">
  </div>

</form>
</div>



<div id="map" style="width: 100%; height: 400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<script type="text/javascript">
var myLatlng = new google.maps.LatLng(48.852937,2.364178);

var myOptions = {
  zoom: 16,
  center: myLatlng,
  scrollwheel: false,
  mapTypeId: google.maps.MapTypeId.ROADMAP,
  styles: [] // TODO: replace [] by array from https://snazzymaps.com/
};

var map = new google.maps.Map(document.getElementById('map'), myOptions);
var marker = new google.maps.Marker({
  position: myLatlng,
  map: map,
  title: "You are here!"
});
</script>