---
title: Le Wagon Middleman boilerplate
---
<div class="col-xs-12 banner">
  <div class="container">
	<div class="banner-content">
      <h1>WELCOME HOME !</h1>
		<p id="lol">Rent unique places to stay from local hosts in 190+ countries</p>
  	      <a class='btn btn-primary' id="btnn" href='#'>How it works</a>
	</div>
  </div>
</div>

  <div class="container">
    <div class="row">
	  <div class="col-xs-12 col-sm-3 item1">
		<img id="img1" src="images/globe.png">
		  <p id="l1">Discover the world</p>
			<p id="l2">The earth is your new home.</p>
		</div>
			<div class=" col-xs-12 col-sm-3 item2">
				<img id="img1" src="images/dollar.png">
					<p id="l1">Pay online</p>
					<p id="l2">No cash issues anymore.</p>
			</div>
					<div class=" col-xs-12 col-sm-3 item3">
						<img id="img1" src="images/beer.png">
							<p id="l1">Meet people</p>
								<p id="l2">Discover new culture and lifestyle.</p>
					</div>
							<div class=" col-xs-12 col-sm-3 item4">
								<img id="img1" src="images/heart.png">
									<p id="l1">Share and love</p>
									<p id="l2">Join a community you will love.</p>
							</div>
					</div>
 	</div>

<div class="row">
<div class="clo-xs-12 col-sm-3 item0">
  <img src="http://placehold.it/400x400">	 
	</div> 	
      <div class="clo-xs-12 col-sm-3 item0">
		<img src="http://placehold.it/400x400">
	  </div>
    <div class="clo-xs-12 col-sm-3 item0">
	  <img src="http://placehold.it/400x400">
    </div>
</div>