<p class="our">Our Team</h1>
  <ul class="list-inline text-center">
    <% ["boris", "seb", "romain"].each do |member| %>
      <li>
        <h3><%= member.capitalize %></h3>
         <%= image_tag "http://placehold.it/100x100", class: "img-circle" %>
      </li>
  <% end %>
</ul>

<div class="links">
  <i class="fa fa-envelope fa-2x" aria-hidden="true">contact@airbnb.com</i>
</div>
